extends layout

block content
  <div class="container">
    h1= title
    <div class="settings-panel">
      <div id="spinner"></div>
      <div class="row" id="settings-panel">
        <div class="col-md-6">
          <div>
            Time Period
            <select id="yearSelection">

            </select>
            <select id="termSelection">

            </select>
          </div>
          <div>
            Course Level
            <select id="courseLevelSelection">

            </select>
          </div>
          <div>
            Department
            <select id="deptSelection">

            </select>
          </div>
          <div>
            Question Code
            <select id="questionCodeSelection" style="width:300px;">

            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            Toggle below minimum <input type="checkbox" id="toggleBelowMinSelection">
          </div>
          <div>
            Filter by minimum class size 
            <form><input style="width: 50%;" type="range" id="classSizeMin" min="0" max="300" value="0" oninput="classSizeMin.value = classSizeMin.value"><output id="classSizeMin"></output></form>
          </div>
          <div>
            Filter by maximum class size 
            <form><input style="width: 50%;" type="range" id="classSizeMax" min="0" max="300" value="300" oninput="classSizeMin.value = classSizeMin.value"><output id="classSizeMax"></output></form>
          </div>
        </div>
      </div>
    </div>
  </div>
  block carousel
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>

    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        h2="UMI vs Dispersion"
        <div id="UMIvsDispersionGraph" style="display: inline-block; width: 60%;"></div>
      </div>

      <div class="item">
        h2="Overview of Instructors"
        <table id="OverallInstructors" class="display" cellspacing="0" style="width:60%"></table>
      </div>

      <div class="item">
        h2="UMI per Course Section"
        <table id="UMIInstructors" class="display" cellspacing="0" style="width:60%"></table>
      </div>

      <div class="item">
        h2="Performance per Course"
        <table id="CoursePerformance" class="display" cellspacing="0" style="width:60%"></table>
      </div>
    </div>


    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>